<div class="docs-section" id="contact">
  <div class="docs-header">Contact</div>
  The workshop organizers can be contacted by email at <a
    href="mailto:gaps2vienna@gmail.com"><b>gapsworkshop@gmail.com</b></a>.

  <div class="value-prop row">
    <div class="five columns">
      <p>
        <b>Elena Andreeva</b>
        Security and Privacy Research Unit<br />
        Institute of Logic and Computation<br />
        TU Wien Informatics<br />
        Favoritenstraße 9-11<br />
        1040 Vienna, Austria
      </p>
    </div>
    <div class="five columns">
      <p>
        <b>Stefan Lucks</b>
        Computer Science and Media<br />
        Faculty of Media<br />
        Bauhaus-Universität Weimar<br />
        Bauhausstraße 11<br />
        99423 Weimar
      </p>
    </div>
  </div>

  <div class="docs-subsection">
    <div class="docs-subheader">Sponsors</div>
    <p>
      The workshop is generously supported by our sponsors:
    </p>
    <div class="value-prop row">
      <div class="four columns value-prop">
        <a class="a-icon" href="https://www.wwtf.at/funding/programmes/ict/ICT25-075/" target="_blank">
          <img class="value-img" src="{{ site.imageurl | relative_url }}/crosspings.png" alt="WWTF CrossPings">
        </a>
      </div>
      <div class="four columns value-prop">
        <a class="a-icon" href="https://ethereum.foundation/" target="_blank">
          <img class="value-img" src="{{ site.imageurl | relative_url }}/ethereum.webp" alt="Ethereum Foundation">
        </a>
      </div>
    </div>
  </div>
</div>