<div class="docs-section" id="venue">
  <div class="docs-header">Venue and Travel</div>
  <p>
    The GAPS 2026 workshop will be held at TU Wien, in Vienna, Austria.
  </p>

  <p>
    The invited talks and discussions will be held at the Campus Favoritenstraße of TU Wien Informatics.
  </p>
  
  <div class="docs-subsection">
    <div class="docs-subheader">How to reach the venue?</div>
    
    <p>
      The main building of TU Wien is located in Karlsplatz, in the hearth of Vienna. 
      Campus Favoritenstraße is just a few hundred meters south, and less than a kilometer away from the Vienna central train station.
      Using the excellent Vienna's public transportation system, the fastest way to get there from the train station is either on foot or by taking the U1 metro line at the Südtiroler Platz stop, direction Leopoldau, and leaving at the Taubstummengasse stop. Vienna's main train station can in turn be easily reached in less than 30 minutes from Vienna's airport via the train line. <br>

      Tickets for local transportation (metro, trams, buses) can be bought from the WienMobil app, while train tickets can be bought from the ÖBB Tickets app.<br>
      
      <b>Address:</b><br>
      Campus Favoritenstraße<br>
      TU Wien Informatics<br>
      1040 Vienna, Favoritenstraße 9-11
    </p>

<iframe class="map-view" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4411.879912425081!2d16.367491576426392!3d48.19515667124995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d0781f85af9ad%3A0xccd8056cc3bc3e6e!2sInstitute%20of%20Telecommunications%2C%20Favoritenstra%C3%9Fe%209-11%2C%201040%20Wien!5e1!3m2!1sit!2sat!4v1776425159276!5m2!1sit!2sat" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" margin-bottom=30px></iframe>
  </div>

  <div class="docs-subsection">
    <div class="docs-subheader">Visa</div>
    <p>
      Citizens of EU member states, European Economic Area (EEA) and Switzerland do not need a visa for entering the Republic of Austria.
      Otherwise, please refer to the <a href="https://www.bmeia.gv.at/en/travel-stay/entrance-and-residence-in-austria/visa" target="_blank"><b>BMEIA website</b></a> for detailed information.<br>

      If you need a visa and require an invitation letter for your application, please reach out to us with timely advance.
    </p>
  </div>

  <div class="docs-subsection">
    <div class="docs-subheader">Accommodation</div>
    <p>
      Hotel rooms and apartments in Vienna can be booked/rented via several travel agencies and rental service providers, such as Booking.com or Airbnb.
      Since underground lines are the fastest way to move around the city, we suggest participants to keep this into account when looking for apartments further away from the venue.
    </p>
    <p style="color: red;">
      <b>Beware of spam e-mails. We have not authorized any third-parties (travel agents or otherwise) to contact the attendees.</b>
    </p>
  </div>
</div>
